In [89]:
import pandas as pd

## Importação dos dados

In [90]:
df1 = pd.read_csv('./datasets/mobile-price/train.csv')
df1_test = pd.read_csv('./datasets/mobile-price/test.csv')

In [91]:
df2 = pd.read_csv('./datasets/mobile-price-classification/train.csv')
df2_test = pd.read_csv('./datasets/mobile-price-classification/test.csv')

## Tratamento das bases de dados

In [92]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1400 entries, 0 to 1399
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             1400 non-null   int64
 1   battery_power  1400 non-null   int64
 2   bluetooth      1400 non-null   int64
 3   clock_speed    1400 non-null   float64
 4   dual_sim       1400 non-null   int64
 5   fc             1400 non-null   int64
 6   four_g         1400 non-null   int64
 7   int_memory     1400 non-null   int64
 8   m_dep          1400 non-null   float64
 9   mobile_wt      1400 non-null   int64
 10  n_cores        1400 non-null   int64
 11  pc             1400 non-null   int64
 12  px_height      1400 non-null   int64
 13  px_width       1400 non-null   int64
 14  ram            1400 non-null   int64
 15  sc_h           1400 non-null   int64
 16  sc_w           1400 non-null   int64
 17  talk_time      1400 non-null   int64
 18  three_g        1400 non-null   int64
 19  touch_screen   1400 non-null   int64
 20  wifi           1400 non-null   int64
 21  price_range    1400 non-null   int64
dtypes: float64(2), int64(20)
memory usage: 240.8 KB

In [93]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

> Alterando o nome da coluna bluetooth para blue para manter um padrão de 
> nomenclatura e removendo a coluna 'id' que não será necessária.

In [94]:
df1.rename(columns={'bluetooth': 'blue'}, inplace=True)
df1.drop(columns=['id'], inplace=True, errors='ignore')

df1_test.rename(columns={'bluetooth': 'blue'}, inplace=True)
df1_test.drop(columns=['id'], inplace=True, errors='ignore')

df2.drop(columns=['id'], inplace=True, errors='ignore')

df2_test.drop(columns=['id'], inplace=True, errors='ignore')

## Visualização dos dados

In [95]:
df1.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,807,1,0.5,1,0,0,37,0.2,127,4,...,245,829,2319,5,4,4,0,0,0,1
1,1065,1,0.5,0,0,1,14,0.7,89,2,...,188,928,3078,10,1,18,1,0,1,2
2,1171,1,1.7,1,2,0,19,0.3,167,7,...,248,755,263,6,5,8,0,0,0,0
3,609,1,3.0,0,15,1,44,0.3,117,1,...,58,1253,2581,15,11,15,1,0,1,1
4,1193,1,2.3,0,7,0,20,1.0,158,7,...,1442,1904,1958,7,5,2,1,0,0,2

In [96]:
df2.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

## Concatenação das bases

In [97]:
df = pd.concat([df1, df2])
df_test = pd.concat([df1_test, df2_test])

In [98]:
df.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [99]:
df_test.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [100]:
df.count().max()

3400

## Separação dos dados de treino e teste

In [101]:
from sklearn.model_selection import train_test_split

In [102]:
x = df.iloc[ : , :-1]
x.head(1)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,807,1,0.5,1,0,0,37,0.2,127,4,0,245,829,2319,5,4,4,0,0,0

In [103]:
y = df.iloc[ : ,-1]
y.head(1)

0    1
Name: price_range, dtype: int64

In [104]:
x_train ,x_test,y_train,y_test = train_test_split(x, y, test_size=0.3)

## Treinamento

In [105]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

### Regressão Logística

In [106]:
from sklearn.linear_model import LogisticRegression

In [107]:
lm = LogisticRegression(solver='liblinear')
lm.fit(x_train, y_train)
predictions = lm.predict(x_test)

In [108]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.90      0.95      0.93       253
           1       0.74      0.65      0.69       253
           2       0.68      0.60      0.64       246
           3       0.83      0.98      0.90       268

    accuracy                           0.80      1020
   macro avg       0.79      0.79      0.79      1020
weighted avg       0.79      0.80      0.79      1020

In [109]:
print(confusion_matrix(y_test, predictions))

[[241  11   1   0]
 [ 27 164  62   0]
 [  0  46 147  53]
 [  0   0   6 262]]

In [110]:
accuracy_score(y_test, predictions)

0.7980392156862746

### KNN-KNeighbors

In [111]:
from sklearn.neighbors import KNeighborsClassifier

In [112]:
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
predictions = knn.predict(x_test)

In [113]:
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.98      0.97      0.97       253
           1       0.93      0.93      0.93       253
           2       0.90      0.89      0.89       246
           3       0.93      0.95      0.94       268

    accuracy                           0.94      1020
   macro avg       0.94      0.93      0.93      1020
weighted avg       0.94      0.94      0.94      1020

In [114]:
print(confusion_matrix(y_test, predictions))

[[245   8   0   0]
 [  6 236  11   0]
 [  0   9 219  18]
 [  0   0  14 254]]

In [115]:
accuracy_score(y_test, predictions)

0.9352941176470588